<div class="field">
    <%=form_for(@instum) do |f| %>
      <%= f.file_field :image, class: 'file_select'%>
      <%= f.label :content %>
      <%= f.text_area :content, id: :instum_content %>
     <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
