<div class="insta_backcolor">
<p id="notice"><%= notice %></p>
<h1>Insta</h1>

<div clss="container" col-md-8 col-md-offset-2 col-sm-10>
  <div>
    <tr>
      <th>Content</th>
    </tr>
  </div>

  <tbody>
    <% @insta.each do |instum| %>
        <td><%= image_tag instum.image_url(:thumb) %></td><br>
        <td><%= instum.content %></td>
        <div calss="container_footer">
        <%= link_to '一覧', instum %>
        <%= link_to '編集', edit_instum_path(instum) %>
        <%= link_to '削除', instum, method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
    <% end %>
  </tbody>
</div>
</div>
