<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @instum.image_url(:thumb) %><br>
  <%= @instum.content %>
</div>

<%= link_to '編集', edit_instum_path(@instum) %> |
<%= link_to '戻る', insta_path %>
