<!DOCTYPE html>
<html>
  <head>
    <title>Dive14</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <ul>
        <li><%= link_to 'トップページ',root_path%></li>
        <section class="navbar-right">
        <li><%= link_to '新規投稿', new_instum_path%></li>
        <li><%= link_to '投稿一覧', insta_path%></li>
        <% if user_signed_in? %>
        <li><%= link_to 'マイページ', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
        <li><%= link_to 'ログイン', new_user_session_path  %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
       <% end %>
        </section>
      </ul>

    </header>
    <%= yield %>
    <footer>
     <p>2017_DIVE INTO CODE　大課題２</p>
    </footer>
  </body>
</html>
